//Bootstrap overrides variables

// Fonts
$font-family-sans-serif: "ibm_plex_sansbold" !default;
$font-family-serif:      "ibm_plex_sansitalic" !default;
$font-family-monospace:  "ibm_plex_sanssemibold" !default;
$font-family-base:       "ibm_plex_sansregular" !default;