// GENERAL STYLE

//BODY BACKGROUND CLASS
body,
// Cambio de background
&.mike-kononov {
    background-color: $clarucho-grey;
    background-image: url("../img/mike-kononov-lFv0V3_2H6s-unsplash.jpg");
    background-size: cover !important;
    background-position: top center;
}
.red{
    background-color: red;
}

//CARDS
//Tarjeta principal, para contener información
.card {

    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.1);
    border: solid 0.5px rgba(255, 255, 255, 0.9);
    
    .card-body {
        .recover-password {
            color: $grape-purple;
            font-size: 13px;
            font-style: italic;
            text-decoration: underline;
        }

        .remember-user {
            font-size: 13px;
        }
    }
}

//BUTTON GROUP
.btn-group {
    border: none;
    margin-bottom: 25px;

    .btn-secondary {
        background-color: white;
        border: none;
        color: black;
    }
}

//NAV TABS INTERNOS
.nav-tabs {
    color: $charcoal-grey;
    background-color: rgba(255, 255, 255, 0);
    border-color: none;
    border-bottom: none;

    .nav-item {
        .nav-link {
            border: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            color: $charcoal-grey;
        }

        .active {
            border-bottom: 3px solid $grape-purple;
            background-color: rgba(255, 255, 255, 0);
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
        }
    }
}

.form-control {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $charcoal-grey;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.5px solid $charcoal-grey;
    border-radius: 500px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-signin {
    padding-top: 15px;
    width: 100%;

    input {
        font-size: 14px;
    }
}

// Btn primary tiene usos exactos para vistas de login o formularios
.btn-primary {
        width: 80px;
        height: 80px;
        text-align: center;
        vertical-align: middle;
        padding: 0px;
        border-radius: 800px;
        background-color: transparent;
        border: transparent;

        img {
            width: 81px;
            height: 81px;
        }

        &:hover {
            width: 80px;
            height: 80px;
            border-radius: 15000px;
            background-color: rgba(255, 255, 255, 0.5);
            border: white;
        }

        &:active {
            width: 80px;
            height: 80px;
            border-radius: 15000px;
            background-color: rgba(255, 255, 255, 0.5);
            border: white;
        }

        &:visited {
            width: 80px;
            height: 80px;
            border-radius: 15000px;
            background-color: rgba(255, 255, 255, 0.5);
            border: white;
        }

        &:focus {
            width: 80px;
            height: 80px;
            border-radius: 15000px;
            background-color: white;
            border: white;
        }
    }

// Clase creada solo para alinear btn en formularios y logins
.align-form-btn{
    left: calc(50% - 40px);
    bottom: -110px;
}


.jumbotron {
    position: absolute;
    width: 100vw;
    -webkit-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px -4px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: top center;
}

.text-shadow-display-headings {
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.6);
}















//FONTS
@font-face {
    font-family: 'ibm_plex_sansbold';
    src: url('../fonts/general/IBM/ibmplexsans-bold-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sansbold_italic';
    src: url('../fonts/general/IBM/ibmplexsans-bolditalic-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sansextralight';
    src: url('../fonts/general/IBM/ibmplexsans-extralight-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sansXLtIt';
    src: url('../fonts/general/IBM/ibmplexsans-extralightitalic-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sanslight';
    src: url('../fonts/general/IBM/ibmplexsans-light-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sanslight_italic';
    src: url('../fonts/general/IBM/ibmplexsans-lightitalic-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sansmedium';
    src: url('../fonts/general/IBM/ibmplexsans-medium-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sansmedium_italic';
    src: url('../fonts/general/IBM/ibmplexsans-mediumitalic-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sansregular';
    src: url('../fonts/general/IBM/ibmplexsans-regular-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sansitalic';
    src: url('../fonts/general/IBM/ibmplexsans-regularitalic-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sanssemibold';
    src: url('../fonts/general/IBM/ibmplexsans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sanssemibold_italic';
    src: url('../fonts/general/IBM/ibmplexsans-semibolditalic-webfont.woff2') format('woff2'),
        url('../fonts/general/IBM/ibmplexsans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}