// Layout Style
@include media-breakpoint-down(xs) {
    .card {
        width: calc(100% - 20px);
        margin-top: 27vh;

        .card-body {
            padding: 0rem;

            .form-signin {
				.btn-primary{
					
				}

            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .card {
        width: calc(100% - 20px);
        margin-top: 35vh;

        .card-body {
            padding: 0.5rem;

            .form-signin {
				.btn-primary{
					
				}
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .card {
        margin-top: calc(50vh - 180px);

         .card-body {
            padding: 0.5rem;

        }
    }
}